
<section>
    <div class="row container">
      <div class="col-5 p-5">
        <h1 class="secondary">About Me !</h1>
      </div>
      <div class="col py-5">
        <p class="text-secondary">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam
          nesciunt quibusdam, reiciendis libero, temporibus saepe sapiente
          laudantium deserunt ex sit maiores laboriosam nobis? Atque totam aliquid
          facere, corrupti sit error repellat! Quo, fugiat! Odio consequuntur
          autem, illo molestiae vitae enim adipisci. Numquam fugit eligendi dolore
          corrupti molestias quam, officia nihil delectus amet aperiam aut libero.
        </p>
        <button type="button" class="btn btn-dark">Download Resume</button>
      </div>
    </div>
  </section>