<section class="bg-secondary container-fluid">
    <div class="row container-fluid p-5">
      <h1 class="text-light text-center">Skills</h1>
      <p class="text-light py-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit id
        doloribus consequatur veritatis asperiores rerum enim facilis officia,
        praesentium cupiditate, repellendus itaque, soluta ratione laborum
        accusamus illum odio explicabo autem! praesentium cupiditate, repellendus
        itaque, soluta ratione laborum accusamus illum odio explicabo autem!soluta
        ratione laborum accusamus illum odio explicabo autem!soluta ratione
        laborum accusamus illum odio explicabo autem! explicabo autem!
      </p>
      <div class="row py-5">
        <div class="col-4">
          <h2 class="text-light text-center">MY FOCUS</h2>
          <hr />
          <div class="px-5">
            <h3 *ngFor="let x of Jobs" class="text-light">{{x}}</h3>
            <!-- <h3 class="text-light">RESPONSIVE DESIGN</h3>
            <h3 class="text-light">WEB DESIGN</h3>
            <h3 class="text-light">MOBILE APP DESIGN</h3> -->
          </div>
        </div>
        <div class="col-7 p-4">
          <div  class="progress my-2" style="height: 30px" >
            <div 
              class="progress-bar"
              role="progressbar"
              style="width: 15%; background-color: brown"
              aria-valuenow="15"
              aria-valuemin="0"
              aria-valuemax="100"
            >
             html
            </div>
            <div
              class="progress-bar bg-dark"
              role="progressbar"
              style="width: 60%"
              aria-valuenow="30"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
         <div class="progress my-2" style="height: 30px">
            <div
              class="progress-bar"
              role="progressbar"
              style="width: 15%; background-color: brown"
              aria-valuenow="15"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              Java Script
            </div>
            <div
              class="progress-bar bg-dark"
              role="progressbar"
              style="width: 50%"
              aria-valuenow="30"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
          <div class="progress my-2" style="height: 30px">
            <div
              class="progress-bar"
              role="progressbar"
              style="width: 15%; background-color: brown"
              aria-valuenow="15"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              Bootsrtap
            </div>
            <div
              class="progress-bar bg-dark"
              role="progressbar"
              style="width: 65%"
              aria-valuenow="30"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
          <div class="progress my-2" style="height: 30px">
            <div
              class="progress-bar"
              role="progressbar"
              style="width: 15%; background-color: brown"
              aria-valuenow="15"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              Angular
            </div>
            <div
              class="progress-bar bg-dark"
              role="progressbar"
              style="width: 40%"
              aria-valuenow="30"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
          <div class="progress my-2" style="height: 30px">
            <div
              class="progress-bar"
              role="progressbar"
              style="width: 15%; background-color: brown"
              aria-valuenow="15"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              React
            </div>
            <div
              class="progress-bar bg-dark"
              role="progressbar"
              style="width: 70%"
              aria-valuenow="30"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
          <div class="progress my-2" style="height: 30px">
            <div
              class="progress-bar"
              role="progressbar"
              style="width: 15%; background-color: brown"
              aria-valuenow="15"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              Flutter
            </div>
            <div
              class="progress-bar bg-dark"
              role="progressbar"
              style="width: 75%"
              aria-valuenow="30"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div> 
        </div>
      </div>
    </div>
  </section>
  