
<!-- portfolio -->
<section>
    <div class="row container  mx-5">
      <h1>Portfolio</h1>
      <div class="row container-fluid m-5 ">
        <div style="height: 150px;" class="shadow p-4 mx-4 bg-secondary rounded col-3 text-center text-light ">
         <h5 class="my-4">WEB DESIGN</h5>
         <hr>
        </div>
        <div style="height: 150px;" class="shadow p-4 mx-4 bg-dark rounded col-3 text-center text-light">
           <h5 class="my-4">MOBILE DESIGN</h5>
           <hr>
        </div>
        <div style="height: 150px;" class="shadow p-4 mx-4 bg-secondary rounded col-3 text-center text-light">
           <h5 class="my-4">LOGO DESIGN</h5>
           <hr>
        </div>
      </div>
      <div  class="row container-fluid m-5">
        <div style="height: 150px;"  class="shadow p-4 mx-4 bg-dark rounded col-3 text-center text-light">
           <h5 class="my-4">WEB APPLICATION DEVELOPMENT</h5>
           <hr>
        </div>
        <div style="height: 150px;" class="shadow p-4 mx-4 bg-secondary rounded col-3 text-center text-light">
           <h5 class="my-4">MOBILE APPLICATION DEVELOPMENT</h5>
           <hr>
        </div>
        <div style="height: 150px;" class="shadow p-4 mx-4 bg-dark rounded col-3 text-center text-light">
           <h5 class="my-4">PWA DEVELOPMENT</h5>
           <hr>
        </div>
      </div>
    </div>
  </section>